<a href="https://colab.research.google.com/github/AMAN690/Inventoplus_XE_HACK_007/blob/master/CustomerSatisfactionPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import numpy as np
import pandas as pd

In [33]:
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot

In [5]:
df = pd.read_csv('Retail Product Recommender.csv',error_bad_lines=False)

In [6]:
df.head()

  InvoiceNo StockCode  ... UnitPrice  CustomerID
0    536365    85123A  ...      2.55       17850
1    536365     71053  ...      3.39       17850
2    536365    84406B  ...      2.75       17850
3    536365    84029G  ...      3.39       17850
4    536365    84029E  ...      3.39       17850

[5 rows x 7 columns]

Looking for null values

In [13]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
dtype: int64

converting InvoiceDate to datetime format

In [10]:
df['InvoiceDate'] = pd.to_datetime(df.InvoiceDate)

In [11]:
df.head()

  InvoiceNo StockCode  ... UnitPrice  CustomerID
0    536365    85123A  ...      2.55       17850
1    536365     71053  ...      3.39       17850
2    536365    84406B  ...      2.75       17850
3    536365    84029G  ...      3.39       17850
4    536365    84029E  ...      3.39       17850

[5 rows x 7 columns]

In [15]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
dtype: object

In [16]:
obj_columns = df.select_dtypes(include=np.object).columns.tolist()
df[obj_columns] = df[obj_columns].astype('string')

Total no of Unique Customers and Products

In [20]:
unique_customer= df['CustomerID'].nunique()
print("DataFrame shape: {}; unique Customer ids: {}".format(df.shape, unique_customer))

DataFrame shape: (406829, 7); unique Customer ids: 4372

In [24]:
unique_product= df['StockCode'].nunique()
print("unique Products: {}".format(unique_product))

unique Products: 3684

One customer buying multiple products

In [29]:
df[df['CustomerID'] == 17850]

      InvoiceNo StockCode  ... UnitPrice  CustomerID
0        536365    85123A  ...      2.55       17850
1        536365     71053  ...      3.39       17850
2        536365    84406B  ...      2.75       17850
3        536365    84029G  ...      3.39       17850
4        536365    84029E  ...      3.39       17850
...         ...       ...  ...       ...         ...
55388   C543611     82483  ...      4.95       17850
55389   C543611     21874  ...      1.06       17850
55390   C543611     71477  ...      2.75       17850
55391   C543611     82483  ...      4.95       17850
55392   C543611     21169  ...      1.45       17850

[312 rows x 7 columns]

In [47]:
customers =  df.groupby('CustomerID')['CustomerID'].count()
print(customers)

ValueError: ignored

In [49]:
orders_track =  df.groupby('InvoiceDate')['InvoiceDate'].count()
print(orders_track)

InvoiceDate
2010-01-12 08:26:00      7
2010-01-12 08:28:00      2
2010-01-12 08:34:00     16
2010-01-12 08:35:00      1
2010-01-12 08:45:00     20
                      ...
2011-12-10 15:42:00      4
2011-12-10 15:49:00      9
2011-12-10 16:17:00    101
2011-12-10 17:00:00     33
2011-12-10 17:19:00     21
Name: InvoiceDate, Length: 20460, dtype: int64