<a href="https://colab.research.google.com/github/AMAN690/Inventoplus_XE_HACK_007/blob/master/CustomerSatisfactionPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [5]:
df = pd.read_csv('Retail Product Recommender.csv',error_bad_lines=False)

In [6]:
df.head()

  InvoiceNo StockCode  ... UnitPrice  CustomerID
0    536365    85123A  ...      2.55       17850
1    536365     71053  ...      3.39       17850
2    536365    84406B  ...      2.75       17850
3    536365    84029G  ...      3.39       17850
4    536365    84029E  ...      3.39       17850

[5 rows x 7 columns]

Looking for null values

In [13]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
dtype: int64

converting InvoiceDate to datetime format

In [10]:
df['InvoiceDate'] = pd.to_datetime(df.InvoiceDate)

In [11]:
df.head()

  InvoiceNo StockCode  ... UnitPrice  CustomerID
0    536365    85123A  ...      2.55       17850
1    536365     71053  ...      3.39       17850
2    536365    84406B  ...      2.75       17850
3    536365    84029G  ...      3.39       17850
4    536365    84029E  ...      3.39       17850

[5 rows x 7 columns]

In [15]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
dtype: object

In [16]:
obj_columns = df.select_dtypes(include=np.object).columns.tolist()
df[obj_columns] = df[obj_columns].astype('string')